<!-- Affichage de la liste des passagers <app-passager [passager]="passager"></app-passager> -->
<div>
        <mat-slide-toggle [(ngModel)]="afficherPhotos">Affihcer les photos ?</mat-slide-toggle>
</div> 
<div class="liste-passagers-container" *ngFor="let passager of listePassagers">
        <app-passager [passager]="passager" [afficherPhotos]="afficherPhotos" ></app-passager>
</div>


