.vol-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 8px;
  }
  
  .icon, .fleche {
    margin-right: 8px;
  }
  
  .vol-container > div {
    flex: 1;  
    text-align: center;
  }

  img {
    height: 40px; 
    width: 120px;
  }
  