<!-- Affichage d'un vol -->
<div class="vol-container">
    <div class="icon">
      @if(type === 'DECOLLAGES'){
        <mat-icon> flight_takeoff </mat-icon>}
      @else{
      <mat-icon>flight_land</mat-icon>
      }
    </div>  
    <div>{{ volU.icao || 'Inconnu' }}   </div>

    <div>{{ volU.matricule || 'Inconnu' }}  </div>

    <div>{{ volU.aeroportDepart || 'Inconnu' }}  </div>
    <div class="fleche">
      <mat-icon>arrow_right_alt</mat-icon>
    </div>
    <div>{{ volU.aeroportArrivee || 'Inconnu' }}  </div>
    <div>
        <img [src]="logo" alt="{{ volU.compagnie }}" />
    </div>
  </div>
  
