.passager-container {
    display: flex;
    flex-direction: line;
    align-items: center;
    justify-content: space-between; 
    padding: 8px;

  }
  .passager-icon {
    font-size: 15px;
  }
  
  .passager-container > div {
    flex: 1;  
    text-align: center;
  }
  