<!-- Affichage d'un passager -->
<div class="passager-container">
    @if(afficherPhotos){
      <div>
        <img [src]="passager.image" alt="{{ passager.nom }}" class="passager-image">
      </div>    
    }
    
    <div>{{ passager.nom }}</div>
    <div><p [appClasseVol]="passager.classeVol">
      {{ passager.classeVol }}
    </p> </div>
    <div class="passager-icon">
      <p [appDepasseBagage]="passager.classeVol" [nbBagages]="passager.nbBagagesSoute">
        <mat-icon>work</mat-icon> x {{ passager.nbBagagesSoute }}
      </p>
    </div>
</div>
  