<div class="container">
  <div class="title">
    <h1>{{ type === 'DECOLLAGES' ? 'DECOLLAGES!' : 'ATTERRISSAGES!' }}</h1>
  </div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres 
        (e_filtres)="onFiltresChanged($event)">
        ></app-filtres>
      </div>
      <div class="bottom">
        <app-liste-vols [listeVols]="vols" [type]="this.type"
        (e_volSelected)="onVolChoisit($event)"
        ></app-liste-vols>
      </div>
    </div>
    <div class="right">
      <app-liste-passagers [listePassagers]="listePassagersVol" ></app-liste-passagers>
    </div>
  </div>
</div>
