<!-- Affichage de la liste des vols -->

<div class="liste-vols-container" *ngFor="let volUnit of listeVols">
    <app-vol [volU]="volUnit" [type]="this.type" (click)="envoyerVol(volUnit)"></app-vol>
</div>
